/* universal */
.body {
    overflow: auto;
    background-color: #121212;
    margin: 0px;
    padding-top: 2.5em;
}

.body-covered {
    overflow: hidden;
    background-color: #121212;
    margin: 0px;
}

.button {
    background-color: #575757;
    border-color: #575757;
    color: #dddddd;
    border-radius: 10px;
    padding-block: 3px;
    padding-inline: 5px;
}


/* interface */
.interface {
    background-color: #121212    
}

.interface form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffeba9;
}

.interface form > div {
    align-self: center;
    margin-inline: 10px;
}

.word {
    background-color: #3f3f3f;
    border-color: #3f3f3f;
    border-radius: 10px;
    color: #dddddd; margin: 5px;
}

.word:focus {
    outline: 1px solid #ffeba9;
    box-shadow: 0 0 5px #ffeba9;
}

.interface .button {
    margin: 5px;   
}

.highlight {
    color: #fee17d;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* info page */
.info {
    overflow: auto;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #dddddd;
}

.info > p, .info > h2 {
    margin-left: 1%;
    margin-right: 1%;
    flex-shrink: 0;
    width: min(96vw, 960px);
    text-align: justify;
    text-justify: inter-word;
}

.info-chart {
    display: flex;
    justify-content: center;
    width: 98vw;
}

.info-speech {
    margin-left: 1%;
    margin-right: 1%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    max-width: min(max(480px, 100vw), 960px);
}
